extends layout
block content
 h1= title
 - let easterBasketid = toShow._id
 - let easterBasketcolor = toShow.color
 - let easterBasketcost = toShow.cost
 - let easterBasketfull = toShow.full
 div
  div.row
    div(class='easterBasketAttr mr-3') Costume ID is:
    div #{easterBasketid}
  div.row
    div(class='easterBasketAttr mr-3') Costume color is:
    div #{easterBasketcolor}
  div.row
    div(class='easterBasketAttr mr-3') Costume is full is:
    div #{easterBasketfull}
  div.row
    div(class='easterBasketAttr mr-3') Costume Cost is:
    div #{easterBasketcost}
